<div class="about_wrapper">
    <section class="about_element">
        <div class="about_images">
            <img class="yellow_img" src="./assets/img/yellow.png" alt="">
            <a class="yellow_text"><img src="./assets/icons/location.svg">Based in Munich</a>
            <img class="blue_img" src="./assets/img/blue.png" alt="">
            <a class="blue_text"><img src="./assets/icons/relocation.svg">Open to Relocate</a>
            <img class="orange_img" src="./assets/img/orange.png" alt="">
            <a class="orange_text"><img src="./assets/icons/remote.svg">Open to Work Remote</a>
        </div>
        <div class="about_description">
            <p class="question">WHO'S KARL?</p>
            <h2 class="title">About Me</h2>
            <p class="text">Hey there, I'm Karl. Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for improving your programming skills?
                Do you learn from each challenge as you search for the most efficient or elegant solution?</p>

            <p class="text_after">Let’s collaborate and build something remarkable together!</p>
                <div class="button_container">
                    <button class="talk_btn">Let's Talk</button>
                </div>
        </div>
    </section>
</div>