.aot {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/img/hero-background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.title_component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70vh;
    margin: 64px;
    margin-bottom: 15vh;
}

.title_component span{
    align-items: flex-end;
}

.title_socialmedia{
    height: 16px;
}

.title_element{
    
}

.upper_title_element{
    
}

.lower_title_element{
    
}

button {
    height: 40px;
    width: 145px;
    background-color: black;
    color: white;
    border-radius: 16px;
    border-color: white;
    border-width: 1px;
}