.aot {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/assets/img/hero-background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.hero_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.hero_title_top{

}

.hero_title_bottom{
    
}

button {
    height: 40px;
    width: 145px;
    background-color: black;
    color: white;
    border-radius: 16px;
    border-color: white;
    border-width: 1px;
}