<div class="title_wrapper">
<div class="title_component">
    <div class="title_socialmedia">
        <div class="title_socialmedia_container">
            <img src="./assets/icons/linkedIn.svg" alt="">
        </div>
        <div class="title_socialmedia_container">
            <img src="./assets/icons/github.svg" alt="">
        </div>
        <div class="title_socialmedia_container">
            <img src="./assets/icons/mail.svg" alt="">
        </div>
    </div>
    <div class="title_element">
        <section class="upper_title_element">
            <button>Hello World</button>
            <h1>Frontend</h1>
            <img src="">
        </section>
        <section class="lower_title_element">
            <h1>Developer</h1>
            <button>Get in Touch</button>
        </section>
    </div>
</div>
</div>